# Virtual Environment
venv/

# Environment Variables
.env

# Google OAuth Files
credentials.json
token.json

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db