# Virtual Environment
venv/

# Environment Variables
.env
.env.*
!.env.example

# Google OAuth Files
credentials.json
token.json

# SQLite Database
database/*.db

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# PyWhatKit
PyWhatKit_DB.txt